fastapi
passlib[bcrypt]
python-jose[cryptography]
email-validator
openai
python-dotenv
uvicorn
pydantic
python-multipart
sqlalchemy
psycopg2-binary
qdrant-client
supabase
streamlit
requests
httpx
fastembed
dash
dash-bootstrap-components
selenium
beautifulsoup4
webdriver-manager
pandas
openpyxl